<h1 class="text-4xl font-bold mb-8 text-center text-indigo-600">Categories</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <% @categories.each do |category| %>
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 transform hover:scale-105">
      <h2 class="text-2xl font-semibold text-indigo-600 hover:text-indigo-800 transition-colors duration-300 mb-4">
        <%= link_to category.category_name, category_path(category) %>
      </h2>
      <p class="mt-2 text-gray-700">Explore our range of <%= category.category_name %></p>
      <div class="mt-4">
        <%= link_to "View Products", category_path(category), class: "inline-block px-4 py-2 bg-indigo-600 text-white font-medium rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition transform hover:scale-105" %>
      </div>
    </div>
  <% end %>
</div>
